
button,
html,
input,
select,
textarea {
	font-family: "DejaVu Sans Mono", monospace;
}

$text: #2ded80;
$inactive: #795fdc;
$active: #a13064;
$dark: #000233;
$table: #1eaeb7;

body {
	margin: 1em;
	background: url('./skyline1.jpeg');
	color: $text;
	height: 100%;
	background-repeat: no-repeat;
    background-color: #000;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

/* Accordion styles */
#accordion {
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);

    > article {
    	width: 100%;
    	color: $text;
    	overflow: hidden;

		> input {
			position: absolute;
			opacity: 0;
			z-index: -1;
		}

    	> label {
    		display: flex;
    		justify-content: space-between;
    		padding: 1em;
    		background: rgba($inactive, 0.75);
    		font-weight: bold;
    		cursor: pointer;
    		/* Icon */
    		&:hover {
    			background: rgba($active, 0.75);
    		}

    		&::after {
    			content: "\276F";
    			width: 1em;
    			height: 1em;
    			text-align: center;
    			transition: all 0.35s;
    		}
    	}

    	> main {
    		max-height: 0;
			overflow: hidden;
    		padding: 0 1em;
    		color: $active;
    		background: rgba(0,0,0, 0.75);
    		transition: all 0.35s;
    	}

        > input:checked {
        	+ label {
        		background: rgba($active, 0.75);

        		&::after {
        			transform: rotate(90deg);
        		}
        	}

        	~ main {
        		max-height: 100vh;
        		padding: 1em;
        	}
        }

    }
}

.simple-mode {
	> p {
		> .ok {
			color: green;
		}
		> .error {
			color: red;
		}
	}
}

.pure-form input[type=color],
.pure-form input[type=date],
.pure-form input[type=datetime-local],
.pure-form input[type=datetime],
.pure-form input[type=email],
.pure-form input[type=month],
.pure-form input[type=number],
.pure-form input[type=password],
.pure-form input[type=search],
.pure-form input[type=tel],
.pure-form input[type=text],
.pure-form input[type=time],
.pure-form input[type=url],
.pure-form input[type=week],
.pure-form select,
.pure-form textarea {
	background: $dark;
	border: none;
	box-shadow: inset 0 1px 3px $text;
}

.pure-form input[readonly],
.pure-form select[readonly],
.pure-form textarea[readonly] {
	background-color: $dark;
	color: $text;
	border-color: $inactive;
}

.pure-button {
	background: $active;
	color: $text;
	box-shadow: inset 0 1px 3px #2ded80;
}

a {
	color: $text;
}

.pure-table,
.pure-table td,
.pure-table th {
	border-color: $table;
}
.pure-table thead {
	background-color: rgba(65, 7, 66, 0.5);
	color: $table;
}

#error {
	color: red;
	white-space: pre-wrap;
}
